# Create a new directory and enter it
md() {
	mkdir -p "$@" && cd "$@"
}

# o with no arguments opens current directory, otherwise opens given location
function o() {
	if [ $# -eq 0 ]; then
		open .
	else
		open "$@"
	fi
}

# `s` with no arguments opens the current directory in Sublime, otherwise opens
# the given location
function s() {
	if [ $# -eq 0 ]; then
		subl .
	else
		subl "$@"
	fi
}
